.item {
    display: flex;  
    margin: 20px; 
    border: 1px solid;  
    border-color: #C98CF1;
    border-radius: 8px;  
    overflow: hidden;  
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);  
    transition: transform 0.2s;
    max-width: 100%; 
}
.item:hover {
    transform: scale(1.02);  
}
.imagem {
    flex: 0 0 250px;  
    height: 170px;  
}
.imagem img {
    width: 100%;  
    height: 100%;  
    border-radius: 8px 0 0 8px;  
    object-fit: cover;  
}
.descricao {
    display: flex;
    flex: 1;  
    flex-direction: column;  
    justify-content: center;  
    padding: 20px;  
}
.icon {
    margin-top: 5px;
}
.tags {
    margin-bottom: 10px;  
}
.tempo-container {
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.preco-container { 
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.preco-container p {
    color: red;
    font-weight: bold;
    font-size: 20px;
}
h2 {
    margin: 0; 
    font-size: 1.5rem; 
    color: #FF4500;  
}
p {
    margin: 0;  
    color: #666; 
    font-size: 1rem;  
    font-style: italic;
}

@media (max-width: 768px) {
    .item {
        flex-direction: column; 
        margin: 10px; 
    }
    .imagem {
        flex: none;  
        width: 100%; 
        height: auto; 
    }
    .descricao {
        padding: 15px; 
    }
    h2 {
        font-size: 1.2rem;
    }
    p {
        font-size: 0.9rem; 
    }
    .preco-container p {
        font-size: 18px; 
    }
}
