.banner {
    text-align: center;
    overflow: hidden; 
  }
.banner img {
    width: 100%;
    height: auto; 
    max-height: 380px; 
    object-fit: cover; 
  }
  @media (max-width: 768px) {
    .banner img {
      max-height: 250px; 
    }
  }
  